<?
method cX(string s) {
	string x = s
	method result = string fn(map element) {
		element[x]
	}
	result
}

method cY(string s) {
	method result
	string z = s
	result = string fn(map element) {
		element[z].toLower()
	}
	result
}

method xm = cX('Greetings')
method ym = cX('Name')
?>
<?formatList(mapFn(cX('Greetings'), myList), ', ')?>
<?formatList(mapFn(ym, myList), ': ')?>
