<?
method cX(string s) {
	method result
	{
		string x = s
		result = string fn(map element) {
			element[x]
		}
	}
	result
}

method cY(string s) {
	method result
	{
		string z = s
		result = string fn(map element) {
			element[z].toLower()
		}
	}
	result
}

method y = cX('Name')
method x = cX('Greetings')
?>
<?formatList(mapFn(x, myList), ', ')?>
<?formatList(mapFn(y, myList), ', ')?>
