<html>
<head>
	<title>Contact details</title>
</head>
<body>
	<h1>Contact details of <?Firstname?> <?Name?></h1>
	<p><?
	printAddressList(AddressList)?>
	</p>
</body>
</html>
<?
string printAddressList(list addressList) {
	foreach address <- addressList {?>
<? /* linefeed */
		address:Street + ' ' + address:HouseNo + ', ' + address:Zip + ' ' + address:City + '<br>'
	}
}
?>